body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f2f5;
}

h1 {
  text-align: center;
}

button {
  width: 170px;
  height: 35px;
  border: none;
  background-color: #0089D3;
  padding: 5px;
  border-radius: 25px;
  color: white;
  margin: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006fa8; 
}
